#enlaces {
	text-align: right;
	background-color: #007BFF;
	padding: 20px;
	border-radius: 15px; /* Bordes redondeados */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra ligera */
	margin-top: 20px;
    max-height: 150px; /* Altura máxima */
	overflow-y: auto; /* Añade un scrollbar si es necesario */
}

#enlaces a {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 5px;
	text-decoration: none;
	color: #fff;
	background-color: #007BFF;
	border-radius: 5px;
	transition: background-color 0.3s ease;	
}

#enlaces a:hover {
	background-color: #0056b3;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 20px;
	padding: 20px;
}

#header {
	text-align: center;
}

#header img {
	max-width: 150px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
	color: #007BFF;
}

h2, h3 {
	border-bottom: 2px solid #007BFF;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#profile p {
	text-align: justify;
}

#contactame c {
	text-align: justify;
}

#experience li {
	background-color: #fff;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

#skills ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
}

#skills li {
	background-color: #28a745;
	color: #fff;
	border-radius: 5px;
	padding: 8px 15px;
	margin-right: 10px;
	margin-bottom: 10px;
}

 #redes-sociales {
	text-align: center;
	margin-top: 20px;
}

#redes-sociales a {
	display: inline-block;
	text-decoration: none;
}

#redes-sociales img {
	width: 50px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
}

#redes-sociales img:hover {
	transform: scale(1.2);
}

#cv {
	margin-top: 10px;
}

#cv a {
	display: inline-block;
	margin: 0 50px;
	text-decoration: none;
}

#cv img {
	width: 80px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
}

#cv img:hover {
	transform: scale(1.2);
}


a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	position: relative;
}

a:hover {
	background-color: #0056b3;
}

img {
	vertical-align: middle;
	margin-right: 5px; /* Ajusta el espacio entre la imagen y el texto */
}

/* Estilos para el tooltip */
a span {
	visibility: hidden;
	width: 120px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

a:hover span {
	visibility: visible;
	opacity: 1;
}
